@page "/archivedFlightList"
@inject NavigationManager _navigationManager;
@inject FlightService _flightService;
@inherits ArchivedFlightListBase;

<h3 class="display-3">Archived Flights</h3>

@if(Flights == null)
{
     <br/>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden"></span>
    </div>
}
else
{
    <div class="table-responsive">
    <table class="table table-sm table-borderless">
        <thead>
            <tr>
                <th>Number</th>
                <th>Date</th>
                <th>Time</th>
                <th>Carrier</th>
                <th>Airport to</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var flight in Flights)
            {
                <tr>
                    <td>@flight.Number</td>
                    <td>@flight.FlightDate.ToString("dd.MM.yyyy")</td>
                    <td>@flight.FlightTime</td>
                    <td>@flight.Carrier?.Name</td>
                    <td>@flight.AirportTo</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}

