@page "/"
@inject FlightService _flightService;
@inject NavigationManager _navigationManager;
@inherits FlightListBase;



<h3 class="display-3">Flights</h3>
<button type="button" class="btn btn-success" @onclick="OpenAddFlightPage">
    <span class="oi oi-plus"></span>
    Add Flight
</button>
@if(Flights == null)
{
     <br/>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden"></span>
    </div>
}
else
{
    <div class="table-responsive">
    <table class="table table-sm table-borderless">
        <thead>
            <tr>
                <th>Number</th>
                <th>Date</th>
                <th>Time</th>
                <th>Carrier</th>
                <th>Airport to</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var flight in Flights)
            {
                <tr>
                    <td>@flight.Number</td>
                    <td>@flight.FlightDate.ToString("dd.MM.yyyy")</td>
                    <td>@flight.FlightTime</td>
                    <td>@flight.Carrier?.Name</td>
                    <td>@flight.AirportTo</td>
                    <td>
                        <a href="/EditFlight/@flight.Id" class="btn btn-secondary">
                            <span class="oi oi-pencil"></span>    
                        </a>
                        <button type="button" class="btn btn-danger" @onclick="() => DeleteFlight(flight.Id)">
                            <span class="oi oi-delete"></span>
                        </button>
                        <button type="button" class="btn btn-warning" @onclick="() => ArchiveFlight(flight.Id)">
                            <span class="oi oi-transfer"></span>
                        </button>
                        <button type="button" class="btn btn-info" @onclick="() => GoToAddPassenger(flight.Id)">
                            Add Passenger
                        </button>
                        <button type="button" class="btn btn-info" @onclick="() => GoToPassengerList(flight.Id)">
                            Unchecked Passengers
                        </button>
                        <button type="button" class="btn btn-info" @onclick="() => GoToCheckedPassengerList(flight.Id)">
                            Checked Passengers
                        </button>
                        <button type="button" class="btn btn-info" @onclick="() => GoToCheckIn(flight.Id)">
                            Check In
                        </button>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
    </div>

}

<ConfirmationDialog @ref="DeleteConfirmationDialog" ConfirmationChanged="@OnDeleteConfirmationSelected" Question="Delete flight?"></ConfirmationDialog>
<ConfirmationDialog @ref="ArchiveConfirmationDialog" ConfirmationChanged="@OnArchiveConfirmationSelected" Question="Archive flight?"></ConfirmationDialog>

