@page "/CheckIn/{flightId}"
@inject NavigationManager _navigationManager;
@inject PassengerService _passengerService;
@inherits PassengerCheckInBase;

<h3 class="display-3">Passenger CheckIn</h3>

@if(Passengers == null)
{
    <br/>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden"></span>
    </div>
}
else{
    <EditForm Model="@passenger" OnValidSubmit="@CheckInPassengerSubmit">
        <label for="passengers">Passenger</label>
        <InputSelect id="passengers" @bind-Value="@passengerToCheckInId" class="form-control">
            <option value="">Select...</option>
            @foreach(var pass in Passengers)
            {
                <option value="@pass.Id">@pass.Name  @pass.LastName</option>
            }
        </InputSelect>
        <label for="row">Row</label>
        <InputNumber id="row" @bind-Value="@selectedRow" class="form-control"></InputNumber>
        <label for="seat">Seat</label>
        <InputText id="seat" @bind-Value="@selectedSeat" class="form-control"></InputText>
        <button type="submit" class="btn btn-danger">
            <span class="oi oi-delete"></span>
            Check In
        </button>
    </EditForm>
}


